@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
:root {
  font-size: 62 50%;
  --bg-color: darkcyan;
  --font-color: white;
  --hover-color: darkblue;
  --border-red-color: rgb(158, 31, 9);
  --bg-gold-rot-color: goldenrod;
  --bg-green-color: rgba(135, 202, 138, 0.788);

  --africa-black-color: "\f27e";
  --africa-yellow-color: "1235C";
}

*,
*::after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* setting the common */
$clr-very-dark-bg: hsl(179, 100%, 13%);
$clr-article-bg: hsl(184, 100%, 22%);
$clr-highlight-color: hsl(31, 77%, 52%);
$clr-light-text: hsla(0, 0%, 100%, 0.75);
$clr-border-color: hsl(0, 0%, 95%);
$clr-heart-color: hsl(183, 43%, 84%);

$border-radius: 10px;
$text-line-high: 2.2rem;
/* navigation bar */
.navigation {
  display: flex;
  height: 8rem;
  align-items: flex-start;
  margin: 2rem 0;
  .logo img {
    width: 6.5rem;
    height: 6.5rem;
    margin: 0 2rem;
  }
  .navbar-toggler {
    line-height: 3.5rem;
  }
  .navbar {
    padding: 1.2rem 2rem;
    justify-content: space-between;
    min-height: 6.5rem;
    width: 100%;
    font-size: 1.3rem;
    background-color: $clr-very-dark-bg;
  }
  .nav-item .active {
    color: var(--border-red-color);
    font-weight: 900;
  }
  .nav-item {
    padding: 0 1rem;
  }
  .nav-link:hover {
    color: var(--bg-gold-rot-color);
  }
  .nav-link,
  .navbar-brand,
  .btn {
    color: var(--font-color);
  }
  .btn {
    height: 3rem;
    margin-top: 0.5rem;
    background-color: $clr-very-dark-bg;
    padding: 0 2rem;
    font-size: 1.2rem;
  }
  .btn:hover {
    background-color: var(--bg-gold-rot-color);
    color: $clr-very-dark-bg;
  }
}
/* main page */
.hero img {
  width: 100vw;
}
h3 {
  margin: 5rem 0 3rem;
}
.title {
  margin: 2rem auto;
  text-align: center;
  line-height: 2.5rem;
  width: 50%;
  font-size: 1.3rem;
  h5 {
    margin: 3rem 0;
    font-style: italic;
  }
}

/* our cooperation partner */
.coop {
  h3 {
    text-align: center;
    margin-top: 3rem;
  }
  .card {
    width: 17rem;
    height: 28rem;
  }
  .card img {
    height: 13rem;
    margin-top: 0.5rem;
    object-fit: cover;
  }
}

/* career sass */

body {
  background-color: var(--bg-gold-rot-color);
}
h1 {
  text-align: center;
  padding: 1.5rem;
}
.contact {
  width: 40rem;
  height: 42rem;
  margin: 5rem auto;
  background-color: var(--bg-green-color);
  outline: 3px solid var(--border-red-color);
  outline-offset: 7px;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
input,
select {
  margin: 1rem 0.5rem;
  height: 2rem;
  font-style: italic;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  padding: 0 0.5rem;
}
.sInput {
  width: 11rem;
}
.mInput {
  width: 17rem;
}
.bInput {
  width: 35.5rem;
}
.comment {
  height: 5rem;
}

.cv {
  background-color: var(--font-color);
  height: 2.2rem;
  padding: 0.1rem 0.5rem;
  border: none;
}
.submit {
  display: block;
  margin: 1rem auto;
}
.submit {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: $clr-article-bg;
  color: var(--font-color);
}
.submit:hover {
  background-color: var(--bg-gold-rot-color);
  box-shadow: 0 0 10px 0 $clr-very-dark-bg;
}
footer {
  margin-bottom: 2rem;
}
/* about us */
.new {
  h3 {
    font-weight: 600;
    color: var(--border-red-color);
  }
  .card {
    width: 16.5rem;
    height: 15rem;
    background-color: var(--bg-gold-rot-color);
    border: none;
  }
  .card img {
    position: relative;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border: 1px solid $clr-very-dark-bg;
    outline: 2px solid $clr-very-dark-bg;
    outline-offset: 7px;
  }
  .name {
    font-size: 1.7rem;
    color: $clr-very-dark-bg;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .card:hover img {
    opacity: 0.6;
  }
  .card:hover .name {
    opacity: 1;
  }
}
