@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
:root {
  font-size: 62 50%;
  --bg-color: darkcyan;
  --font-color: white;
  --hover-color: darkblue;
  --border-red-color: rgb(158, 31, 9);
  --bg-gold-rot-color: goldenrod;
  --bg-green-color: rgba(87, 173, 185, 0.842);
  --main-white-color: #fcf8f3;

  --africa-black-color: rgba(22, 20, 20, 0.959);

  --bg-white-trans: rgba(245, 245, 245, 0.671);

  --africa-brown-dark-clr: #575050;
  --africa-brown-red-clr: #732a08;
  --africa-brown-clr: #6a5551;
  --africa-light-gray: #bfbfbf;
  --africa-beige-clr: #f5e9be;
  --africa-box-color-trans: #8069692c;
  --africa-footer-bgc: #191e32;
}

*,
*::after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* setting the common */
$clr-very-dark-bg: hsl(179, 100%, 13%);
$clr-article-bg: hsl(184, 100%, 22%);
$clr-highlight-color: hsl(31, 77%, 52%);
$clr-light-text: hsla(0, 0%, 100%, 0.75);
$clr-border-color: hsl(0, 0%, 95%);
$clr-heart-color: hsl(183, 43%, 84%);

$border-radius: 10px;
$text-line-high: 2.2rem;
body {
  font-size: 1.2rem;
  background-color: var(--africa-light-gray);
}
header {
  background: url(../img/africanBackground/nav-bg.jpg) center/cover;
  width: 100%;
  height: 100vh;
  position: relative;

  /* navigation bar */
  .navigation {
    display: flex;
    justify-content: space-between;
    height: 20rem;
    align-items: flex-start;
    .logo img {
      width: 18rem;
      height: 18rem;
      margin: 3rem 2rem 0 0;
    }
    .navbar-toggler {
      line-height: 3.5rem;
    }
    .navbar-toggler-icon {
      background-color: $clr-very-dark-bg;
    }
    .navbar-nav {
      display: flex;
      justify-content: space-around;
    }
    .navbar {
      padding: 1.2rem 2rem;
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      min-height: 6.5rem;
      width: 100%;
      height: 100%;
      font-size: 2.3rem;
    }
    .nav-item .active {
      color: var(--africa-light-gray);
      font-weight: 900;
    }
    .nav-item {
      padding: 0 3rem;
    }
    .nav-link:hover {
      color: var(--bg-gold-rot-color);
    }
    .nav-link,
    .navbar-brand,
    .btn {
      color: var(--africa-light-gray);
      font-weight: 900;
      padding: 0 2rem;
    }
    .btn {
      height: 3rem;
      margin-top: 0.5rem;
      background-color: $clr-very-dark-bg;
      padding: 0 2rem;
      font-size: 1.2rem;
      color: var(--font-color);
    }
    .btn:hover {
      background-color: var(--bg-gold-rot-color);
      color: $clr-very-dark-bg;
    }
  }
  .header-title {
    color: var(--africa-light-gray);
    position: absolute;
    top: 30rem;
    left: 3rem;
  }
  .header-title h2 {
    width: 35rem;
    font-size: 4rem;
  }
}
/* main page */
.hero img {
  width: 100vw;
}
h3 {
  margin: 5rem 0 3rem;
}
.title {
  margin: 2rem auto;
  text-align: center;
  line-height: 2.5rem;
  width: 50%;
  font-size: 1.3rem;
  h5 {
    margin: 3rem 0;
    font-style: italic;
  }
}
.con{   /*contact button*/
  display: flex;
  justify-content: center;
  .tip_btn {
    display: block;
    width: 10%;
    margin-left: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 0;
    background-color: var(--africa-brown-red-clr);
    color: var(--font-color);
    
  }
  .tip_btn:hover {
    background-color: var(--africa-light-gray);
    color: var(--africa-brown-red-clr);
    box-shadow: 0 0 10px var(--africa-light-gray);
  }
}
/* main page - service areas */
.services {
  display: flex;
  flex-wrap: wrap;
  .card {
    background-color: var(--africa-box-color-trans);
    border: none;
    margin: 2rem 1rem;
  }
  .card-body a {
    text-decoration: none;
  }
  .card-title {
    font-size: 1.5rem;
    color: var(--border-red-color);
    padding-bottom: 1rem;
  }
}
/* main page - industry */
.industry {
  padding-bottom: 3rem;
  .card-body a {
    text-decoration: none;
  }
  .card {
    background-color: var(--africa-box-color-trans);
  }
  .card img {
    width: 18rem;
  }
}
/* reviews */
/* .reviews {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem auto;
  width: 100%;
  .custom {
    width: 44rem;
  }
  .custom img {
    width: 100%;
  }
}
 */ /* our cooperation partner */
.coop {
  h3 {
    text-align: center;
    margin-top: 3rem;
  }
  .card {
    width: 25rem;
    height: 28rem;
  }
  .card:hover {
    background-color: var(--africa-light-gray);
  }
  .card img {
    height: 13rem;
    margin-top: 0.5rem;
    object-fit: cover;
  }
  .title {
    background-color: var(--africa-box-color-trans);
    padding: 1rem;
    width: 60rem;
  }
  .title:hover {
    background-color: var(--africa-light-gray);
  }
}
// customer reviews
.cardRev {
  width: 17rem;
  height: 28rem;
  text-align: center;
  margin: 4rem;
  margin-bottom: 15rem;
}
.refImg{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit:cover;
  margin: 1rem;
}


/* the footers */
.foot {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 3rem 0 0;
  line-height: 1.3rem;
  font-size: 1.3rem;
  background-color: var(--africa-footer-bgc);
  color: var(--africa-light-gray);
  padding: 3rem 5rem;
  .foot_title {
    font-weight: bold;
    font-size: 1.7rem;
    padding-bottom: 1rem;
  }
  a {
    text-decoration: none;
    color: var(--africa-light-gray);
  }
  a:hover {
    color: var(--africa-brown-dark-clr);
  }
  .tips {
    width: 25rem;
  }
  .tips p {
    padding-left: 0.6rem;
  }
  .tips_title {
    padding: 0;
  }
  .policy {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  #policy {
    width: 1.5rem;
    height: 1.5rem;
  }
  .tip_btn {
    display: block;
    width: 100%;
    margin-left: 0.5rem;
    margin-top: 1rem;
    padding: 1rem 0;
    background-color: var(--africa-brown-red-clr);
    color: var(--font-color);
  }
  .tip_btn:hover {
    background-color: var(--africa-light-gray);
    color: var(--africa-brown-red-clr);
    box-shadow: 0 0 10px var(--africa-light-gray);
  }
  input {
    width: 100%;
    height: 3rem;
    font-size: 1.3rem;
    background-color: var(--africa-light-gray);
  }
  .fa-brands {
    font-size: 2.5rem;
    height: 2.6rem;
    color: var(--africa-light-gray);
    background-color: var(--hover-color);
  }
  .fa-brands:hover {
    background-color: var(--africa-light-gray);
    color: var(--hover-color);
  }
  .fa-facebook {
    margin: 1rem 0;
    height: 2.75rem;
    width: 2.75rem;
    border-radius: 50%;
    padding: 1px;
  }
  .fa-linkedin {
    margin: 1rem;
    width: 2.55rem;
    padding: 1px 3px;
  }
  .fa-instagram-square {
    width: 2.6rem;
    padding: 0 3px;
  }
}

/* career sass */

h1 {
  text-align: center;
  padding: 1.5rem;
}
.contact {
  width: 40rem;
  height: 42rem;
  margin: 5rem auto;
  background-color: var(--bg-green-color);
  outline: 3px solid var(--border-red-color);
  outline-offset: 7px;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
input,
select {
  margin: 1rem 0.5rem;
  height: 2rem;
  font-style: italic;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  padding: 0 0.5rem;
}
.sInput {
  width: 11rem;
}
.mInput {
  width: 17rem;
}
.bInput {
  width: 35.5rem;
}
.comment {
  height: 5rem;
}

.cv {
  height: 2.2rem;
  padding: 0.1rem 0.5rem;
  border: none;
}
.submit {
  display: block;
  margin: 1rem auto;
}
.submit {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  border-radius: 5px;
  background-color: $clr-article-bg;
  color: var(--font-color);
}
.submit:hover {
  background-color: var(--bg-gold-rot-color);
  box-shadow: 0 0 10px 0 $clr-very-dark-bg;
}
footer {
  margin-bottom: 2rem;
}
/* about us */
.about {
  h3 {
    font-weight: 600;
    color: var(--border-red-color);
  }
  .card {
    width: 16.5rem;
    height: 15rem;
    border: none;
  }
  .card img {
    position: relative;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border: 1px solid $clr-very-dark-bg;
    outline: 2px solid $clr-very-dark-bg;
    outline-offset: 7px;
  }
  .name {
    font-size: 1.7rem;
    color: $clr-very-dark-bg;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  .card:hover img {
    opacity: 0.6;
  }
  .card:hover .name {
    opacity: 1;
  }
}
/* Contact Us */
.contact_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--africa-black-color);
  margin: 8rem auto;
  color: var(--font-color);
  padding: 2rem;
  font-size: 1.3rem;
  width: 100%;

  .contact_free {
    width: 20rem;
    padding-left: 2rem;
    h3 {
      font-size: 2.5rem;
      color: var(--bg-gold-rot-color);
    }
  }
  .submit_form {
    width: 45rem;
  }
  .name {
    display: flex;
    flex-wrap: wrap;
  }
  label {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
  }
  input {
    width: 20rem;
    height: 3rem;
  }
  textarea {
    width: 95%;
  }
  .submit_btn {
    margin: 2rem auto;
    padding: 1rem 3rem;
    background-color: var(--bg-gold-rot-color);
    font-weight: bold;
    border-radius: 5px;
  }
  .submit_btn:hover {
    background-color: $clr-article-bg;
    box-shadow: 0 0 10px var(--bg-gold-rot-color);
    color: var(--bg-gold-rot-color);
  }
}
/* service */
.service {
  h2 {
    font-size: 3rem;
    margin: 5rem auto;
    text-align: center;
  }
  h4 {
    font-weight: bold;
    margin-bottom: 2rem;
  }
}
/* Industries */
.industries {
  h2 {
    font-size: 3rem;
    text-align: center;
    margin: 7rem auto;
  }
}
